.lightdarkmode {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.4s;
}

.lightdarkmode:hover {
  opacity: 1.5;
}
