.skillContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    gap: 10px;
}

.skill{
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
}

.skill:disabled{
    opacity: 0.4;
    animation: fadeOpacityForDisabledSkill 0.5s;
}


.selected{
    animation: fadeFromWhiteToGray 1s;
    background-color: var(--main-green);
}

.skill:not(:disabled):hover{
    background-color: var(--main-green);
}
.refreshSkillsButton{
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    padding: 1rem 1rem;
}

.refreshSkillsButton:disabled{
    opacity: 0.5;
}

.refreshSkillsButton:not(:disabled):hover{
    background-color: var(--main-green);
}

@keyframes fadeFromWhiteToGray {
    0% {
      background-color: white;
    }
    
    100% {
        background-color: var(--main-green);
    }
}

@keyframes fadeOpacityForDisabledSkill {
    0% {
      opacity: 1;
    }
    
    100% {
        opacity: 0.4;
    }

}


@media (max-width: 600px) {
     
    .skillContainer{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
        gap: 10px;
    }
    
    
}

@media( min-width:1200px){
    .skillContainer{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
 
}