:root{
  --main-gray:rgb(203, 203, 203);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color:black;
  font-size: 20px;
}

@media (max-width: 600px) {
  *{
    font-size: 10px;
  }
}


/* TODO: make grid great again lol */
/* body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-content: center;
} */
/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  display: grid;
  place-content: center;
} */

