:root{
  --main-gray:rgb(203, 203, 203);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color:black;
  font-size: 20px;
}


/* TODO: make grid great again lol */
body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  
}

.panel{
  /* display: inline; */
  padding: 50px;
}