*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color:black;
  font-size: 20px;
}

body{
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 100px;
}

.panel{
  flex: 10;
}