
.skillContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: 10px;
}

.skill{
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.skill:disabled{
    opacity: 0.4;
    animation: fadeOpacityForDisabledSkill 0.5s;
}

/* .skillSelected {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
} */

.selected{
    background-color: var(--main-gray);
    animation: fadeFromWhiteToGray 1s;
}

.skill:not(:disabled):hover{
    background-color: var(--main-gray);
    scale: 1.1;
}
.refreshSkillsButton{
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    padding: 1rem 1rem;
    /* border-radius: 100%; */
}

.refreshSkillsButton:disabled{
    opacity: 0.5;
}

.refreshSkillsButton:not(:disabled):hover{
    background-color: var(--main-gray);
}

.projectContainer{
    /* min-height: fit-content; */
    display: grid;
    gap: 0.5rem;
    margin-top: 50px;
}

.project{
    cursor: pointer;
    height: fit-content;
    width:  fit-content;
}

.project:hover{
    scale: 1.1;
}

@keyframes fadeFromWhiteToGray {
    0% {
      background-color: white;
    }
  
    100% {
      background-color: var(--main-gray);
    }
}

@keyframes fadeOpacityForDisabledSkill {
    0% {
      opacity: 1;
    }
    
    100% {
        opacity: 0.4;
    }

}