
.skillContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 10px;
}

.skill{
    display: flex;
    height: 50px;
    width: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.skillSelected {
    display: flex;
    height: 50px;
    width: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    background-color: var(--main-gray);
}

.skill:hover{
    background-color: var(--main-gray);
    scale: 1.2;
}